<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
>
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">./server/test</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./app/</directory>
        </whitelist>
    </filter>
</phpunit>
